@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
  box-sizing: border-box;
  font-family: 'Alice', serif;
}

body
{
  background: #41295a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a);
}

.header {
  text-align: center;
  height: 10vh;
  padding: 20px;
  background: royalblue;
  background: #41295a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F0743, #41295a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  background-size: cover;
  background-position: center;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.inp {
  /* background: transparent; */
  width: 65vw;
  padding: 5px 10px;
  /* filter: drop-shadow(0 0 10px white); */
  box-shadow: 0 0 5px white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 20px;
  color: #fff;
  /* text-align: center; */
}

.inp input {
  /* margin-top: 20px; */
  padding: 10px;
  width: 30vw;
  margin-left: 20px;
  border-radius: 5px;
}

.inp input:focus
{
  outline: none;
}

.inp button {
  padding: 10px;
  border-radius: 5px;
}

.inp h4, .inp span {
  /* margin-left: 10%; */
}

.inp span:first-of-type
{
  /* text-decoration: underline; */
  /* color: red; */
  /* color: ; */
  font-size: 2rem;
}

.inp .sbox span
{
  color: #CCCCCC;
  margin-top: 6px;
  font-size: 1.6rem;
}


.myDiv {
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 10px rgb(157, 91, 91);
  padding: 10px;
}

.images,
.gallery {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.im,
.item {
  width: 20%;
  margin: 10px;
}